body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: 0.4s;
}

.input {
    width: 90px;
    visibility: hidden;
}

.label {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: lightgray;
    border-radius: 1.25rem;
    cursor: pointer;
}

.circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    position: absolute;
    left: 3px;
    animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
    background-color: white;
}

.input:checked + .label .circle {
    animation: toggleOn 0.4s linear forwards;
    background-color: black;
}


@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(20px);
    }
}

@keyframes toggleOff {
    0% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

.container {
    max-width: 600px;
    margin: 10vh auto 0 auto;
    box-shadow: 0 0 43px 17px rgba(153, 153, 153, 1);
    /* padding: 1rem; */
}

#display {
    text-align: right;
    height: 4.375rem;
    line-height: 4.375rem;
    padding: 1rem 0.5rem;
    font-size: 1.5625rem;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2rem;
    gap: 1rem;
}

.button {
    border: 0.2px solid #999;
    background-color: transparent;
    opacity: .7;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
}

.symbol {
    background-color: lightgray;
    color: white;
}

.operator {
    background-color: navy;
    color: white;
}
